/* Imported Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* Shared styles */
* {
    margin: 0;
}

body,
button {
    font-family: 'Work Sans', sans-serif;
}

.title-text {
    font-size: 3rem;
}

.primary-color {
    color: #FF4A25;
}

.secondary-color {
    color: #0B0223;
}

.btn {
    padding: 20px 40px;
    font-size: 1.4rem;
    color: #FFF;
    border-radius: 48px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.btn-primary {
    background-color: #FF42A5;
}

.btn-secondary {
    background-color: #0B0223;
}

/*header styles*/
/* nav section styles */
nav {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a,
.nav-box .nav-box-text {
    color: #3C354F;
    font-weight: 500;
}

.nav-title,
.footer-title {
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 700;
}

.nav-title span {
    font-size: 2.8rem;
}

.nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    padding: 15px 20px;
    background-color: rgba(11, 2, 35, 0.10);
    ;
    border-radius: 8px;
}

.nav-icons {
    display: flex;
    gap: 8px;
}

.fa-youtube {
    color: #F61C0D;
}

.fa-youtube,
.fa-tiktok {
    cursor: pointer;
}

/* banner section styles */
.banner {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-title {
    color: #0B0223;
}

.banner-headline {
    font-size: 5.9375rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.banner-description {
    padding-left: 0px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.banner-description li {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.banner-buttons {
    display: flex;
    gap: 25px;
}

/* online games section styles */
.online-games-section {
    margin-top: 100px;
}

.section-title {
    font-size: 3rem;
    color: #0B0223;
    font-weight: 700;
    text-align: center;
}

.section-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-info {
    color: #534C64;
    font-size: 1.125rem;
    text-align: center;
    margin-top: 20px;
}

.online-games-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.online-game {
    position: relative;
    display: inline-block;
}

.game-info-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 83%;
    border: 3px solid #FF42A5;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
}

.game-info-overlay i {
    font-size: 2rem;
    color: white;
}

.game-info-overlay p {
    color: white;
    margin-top: 5px;
}


.online-game:hover .game-info-overlay {
    opacity: 1;
}

.game-info {
    margin-top: 25px;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}

/* play section styles */
.play-instantly-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin-top: 120px;
}

.play-instantly-content {
    width: 25%;
}

.play-instantly-img {
    position: relative;
    width: 40%;
}

.img-badge {
    position: absolute;
    bottom: -50px;
    left: -50px;
}

/* buttons section styles */
.buttons-section {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    color: #0B0223;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    background-color: #FFF;
}

.button:hover {
    color: #FF42A5;
    border: 2px solid #FF42A5;
    cursor: pointer;
}

/* footer section styles */
footer {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 130px 0;
    background-color: #0B0223;
}

.footer-title {
    font-size: 2.8rem;
    margin-bottom: 50px;
}

.footer-nav-links {
    display: flex;
    gap: 50px;
    font-size: 1.125rem;
    font-weight: 600;
}

.logos {
    margin-top: 30px;
    display: flex;
    gap: 40px;
    font-size: 2rem;
}

.footer-nav-links,
.logos,
footer .fa-youtube {
    color: #FFF;
}

.terms-and-conditions {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
}

.copyright-text{
    color: rgba(255, 255, 255, 0.60);
    margin-top: 25px;
    text-align: center;
}

/* media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
    nav {
        align-items: center;
        gap: 40px;
    }

    nav,
    nav ul {
        flex-direction: column;
    }

    nav ul {
        padding-left: 0px;
    }

    .banner {
        flex-direction: column-reverse;
        text-align: center;
    }

    .banner-content {
        text-align: center;
    }

    .banner-img img {
        max-width: 90%;
        height: auto;
        margin-bottom: 25px;
    }

    .section-info {
        font-size: 1rem;
    }

    .online-games-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .online-game {
        margin-top: 30px;
    }

    .play-instantly-content {
        width: 85%;
    }


    .play-instantly-section {
        flex-direction: column;
        align-items: center;
    }

    .play-instantly-img .img-base {
        width: 150%;
    }

    .play-instantly-img .img-badge {
        width: 80%;
    }

    .footer-nav-links {
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .terms-and-conditions{
        flex-direction: column;
        align-items: center;
    }

    footer{
        padding: 100px 0;
    }
    
    .copyright-text{
        margin-top: 50px;
    }
}

/* tablet and medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav {
        align-items: center;
        gap: 40px;
        flex-direction: column;
    }

    nav ul {
        padding-left: 0px;
    }

    .banner {
        flex-direction: column;
        text-align: center;
    }

    .banner-content {
        text-align: center;
        margin-bottom: 25px;
    }

    .banner-img img {
        max-width: 90%;
        height: auto;
    }

    .online-games-container {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }

    .online-game {
        margin-top: 30px;
    }

    .play-instantly-content {
        width: 90%;
    }

    .play-instantly-section {
        flex-direction: column;
        align-items: center;
    }

    .play-instantly-img .img-base {
        width: 150%;
    }

    .play-instantly-img .img-badge {
        width: 80%;
    }

}