/* Imported Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* Shared styles */
*{
    margin: 0;
}
body {
    font-family: 'Work Sans', sans-serif;
}

.title-text{
    font-size: 3rem;
}

.primary-color {
    color: #FF4A25;
}

.secondary-color {
    color: #0B0223;
}

.btn{
    padding: 20px 40px;
    font-size: 1.4rem;
    color: #FFF;
    border-radius: 48px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.btn-primary{
    background-color: #FF42A5;
}
.btn-secondary{
    background-color: #0B0223;
}

/*header styles*/
/* nav section styles */
nav{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

nav ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
}

nav ul li a,
.nav-box .nav-box-text{
    color: #3C354F;
    font-weight: 500;
}

.nav-title{
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 700;
}
.nav-title span{
    font-size: 2.8rem;
}

.nav-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    padding: 15px 20px;
    background-color: rgba(11, 2, 35, 0.10);;
    border-radius: 8px;
}

.nav-icons{
    display: flex;
    gap: 8px;
}
.fa-youtube{
    color: #F61C0D;
}
.fa-youtube,
.fa-tiktok{
    cursor: pointer;
}

/* banner section styles */
.banner{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-title{
    color: #0B0223;
}

.banner-headline{
    font-size: 5.9375rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text; 
    color: transparent; 
}

.banner-description{
    padding-left: 0px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.banner-description li{
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.banner-buttons{
    display: flex;
    gap: 25px;
}

/* media queries */
/* mobile devices */
@media screen and (max-width: 576px){
    nav{
        align-items: center;
        gap: 40px;
    }
    nav, nav ul{
        flex-direction: column;
    }
    nav ul{
        padding-left: 0px;
    }
    .banner{
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-content{
        text-align: center;
    }

    .banner-img img{
        max-width: 90%;
        height: auto;
        margin-bottom: 25px;
    } 
}

/* tablet and medium devices */
@media screen and (min-width: 576px) and (max-width: 992px){
    nav{
        align-items: center;
        gap: 40px;
        flex-direction: column;
    }  
    nav ul{
        padding-left: 0px;
    }
    .banner{
        flex-direction: column;
        text-align: center;
    }
    .banner-content{
        text-align: center;
        margin-bottom: 25px;
    }

    .banner-img img{
        max-width: 90%;
        height: auto;
    } 
}